__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.venv/
**/.venv/
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
*.log

*.sqlite3
*.db
*.egg-info/
.env/
env/
.mypy_cache/
.pytest_cache/
.eggs/
.idea/
.vscode/
.ipynb_checkpoints/
.settings/

.env
.env.*
credentials.json
token.json
secrets.json
**/secrets.json
